/* Style général de la page */
.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 16px;
}

@media print {
    #back-link, #image-container {
        display: none;
    }
}

/* Styles du titre */
#title-wrapper {
    margin-top: 24px;
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#title {
    font-size: 2rem;
    font-weight: 700;
    margin: 0;
    color: #333;
}

#description1 img, #description2 img {
    border-radius: 8px;
    max-width: 100%;
}

/* Sections de contenu */
#ingredients-container,
#section-2,
#section-3 {
    background-color: #f9f9f9;
    padding: 16px;
    margin-top: 16px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#ingredients-container h2,
#section-2 h2,
#section-3 h2 {
    font-size: 1.5rem;
    margin-bottom: 12px;
    color: #333;
}

#ingredients-container h2::before,
#section-2 h2::before,
#section-3 h2::before {
    content: "🔸 ";
    margin-right: 8px;
}

/* Mise en page des sections */
@media (min-width: 600px) {
    #ingredients-container {
        width: 48%;
        float: left;
        margin-right: 2%;
    }

    #section-2, #section-3 {
        clear: both;
    }

    #image-container {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
    }

    #image-container p img {
        max-width: calc(50% - 8px);
        border-radius: 8px;
    }
}

/* Style de la barre de recherche */
#search-container {
    margin: 30px 0;
    padding: 16px;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#searchInput {
    width: 100%;
    padding: 14px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    background-color: #fff;
    margin-bottom: 12px;
}

#searchResults {
    list-style: none;
    padding: 0;
    margin-top: 10px;
}

#searchResults li {
    padding: 8px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 6px;
}

#searchResults li a {
    text-decoration: none;
    color: #007BFF;
    font-weight: 500;
}

#searchResults li a:hover {
    text-decoration: underline;
}

/* Responsivité */
@media (max-width: 600px) {
    #ingredients-container,
    #section-2,
    #section-3 {
        width: 100%;
        float: none;
    }

    #image-container p img {
        max-width: 100%;
    }
}
