<div id="recipes-list">
    {{ range .Pages }}
        {{ if eq .Type "recipe" }}  <!-- Filtrer pour afficher uniquement les recettes -->
            <div class="recipe-card" data-tags="{{ delimit .Params.tags "," }}">
                <a href="{{ .Permalink }}">
                    <h2>{{ .Title }}</h2>
                    <!-- Les tags ne sont plus affichés ici -->
                </a>
            </div>
        {{ end }}
    {{ end }}
</div>

<!-- Script de recherche -->
<script>
    function searchRecipes() {
        const searchInput = document.getElementById('searchInput').value.toLowerCase();
        const searchResults = document.getElementById('searchResults');
        const recipes = document.querySelectorAll('.recipe-card');
        
        // Effacer les résultats précédents
        searchResults.innerHTML = '';

        recipes.forEach(recipe => {
            const title = recipe.querySelector('h2').innerText.toLowerCase();
            const tags = recipe.getAttribute('data-tags').toLowerCase();

            if (title.includes(searchInput) || tags.includes(searchInput)) {
                searchResults.appendChild(recipe.cloneNode(true));
            }
        });
    }
</script>