{{ define "main" }}
  <h1>{{ .Title }}</h1>

  {{- $sectionDelimiter := "<!-- section -->" -}}
  {{- $rawContentSections := split .RawContent $sectionDelimiter -}}
  {{- if gt (len $rawContentSections) 1 -}}
    <div id="ingredients-container">
      {{ index $rawContentSections 0 | .RenderString }}
    </div>
    <div id="section-2">
      {{ index $rawContentSections 1 | .RenderString }}
    </div>
  {{- else -}}
    <div id="content-not-split-into-sections">
      {{ .Content }}
    </div>
  {{- end -}}

{{ end }}